<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
   <title>ابسترکت - بلاگ استاندارد</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">  
   <link rel="stylesheet" href="css/main.css">
        

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header class="short-header">   

	<div class="gradient-block"></div>	

	<div class="row header-content">

		<div class="logo">
		  <a href="index.html">نویسنده</a>
	   </div>

		<nav id="main-nav-wrap">
			 <ul class="main-navigation sf-menu">
				 <li><a href="index.html" title="">خانه</a></li>									
				 <li class="has-children">
					 <a href="category.html" title="">دسته بندی</a>
					 <ul class="sub-menu">
					 <li><a href="category.html">وردپرس</a></li>
					 <li><a href="category.html">HTML</a></li>
					 <li><a href="category.html">عکاسی</a></li>
					 <li><a href="category.html">UI</a></li>
					 <li><a href="category.html">میکاپ</a></li>
					 <li><a href="category.html">برندسازی</a></li>
				  </ul>
				 </li>
				 <li class="has-children current">
					 <a href="single-standard.html" title="">بلاگ</a>
					 <ul class="sub-menu">
					 <li><a href="single-video.html">پست ویدئو</a></li>
					 <li><a href="single-audio.html">پست صدا</a></li>
					 <li><a href="single-gallery.html">پست گالری</a></li>
					 <li><a href="single-standard.html">پست استاندارد</a></li>
				  </ul>
				 </li>
				 <li><a href="style-guide.html" title="">استایل</a></li>
				 <li><a href="about.html" title="">درباره</a></li>	
				 <li><a href="contact.html" title="">تماس</a></li>										
			 </ul>
		 </nav> <!-- end main-nav-wrap -->

		 <div class="search-wrap">
			 
			 <form role="search" method="get" class="search-form" action="#">
				 <label>
					 <span class="hide-content">جستجو برای:</span>
					 <input type="search" class="search-field" placeholder="چیزی تایپ کنید" value="" name="s" title="جستجو برای:" autocomplete="off">
				 </label>
				 <input type="submit" class="search-submit" value="جستجو">
			 </form>

			 <a href="#" id="close-search" class="close-btn">بستن</a>

		 </div> <!-- end search wrap -->	

		 <div class="triggers">
			 <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
			 <a class="menu-toggle" href="#"><span>منو</span></a>
		 </div> <!-- end triggers -->	
		
	</div>     		
	
</header> <!-- end header -->
   

   <!-- content
   ================================================== -->
   <section id="content-wrap" class="blog-single">
   	<div class="row">
   		<div class="col-twelve">

   			<article class="format-standard">  

   				<div class="content-media">
						<div class="post-thumb">
							<img src="images/thumbs/single/single-01.jpg"> 
						</div>  
					</div>

					<div class="primary-content">

						<h1 class="page-title">سلام، این یک پست با فرمت استاندارد است.</h1>	

						<ul class="entry-meta">
							<li class="date">25 آبان 1396</li>						
							<li class="cat"><a href="">وردپرس</a><a href="">طراحی</a></li>				
						</ul>						

						<p class="lead">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد تا با نرم‌افزارها شناخت بیشتری را برای طراحان رایانه ای علی‌الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
						</p> 

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد تا با نرم‌افزارها شناخت بیشتری را برای طراحان رایانه ای علی‌الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
						</p>

						<p><img src="images/shutterbug.jpg" alt=""></p>

						<h2>عنوان بزرگ</h2>

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد تا با نرم‌افزارها شناخت بیشتری را برای طراحان رایانه ای علی‌الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
						</p>

						<blockquote><p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد تا با نرم‌افزارها شناخت بیشتری را برای طراحان رایانه ای علی‌الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
						</p></blockquote>

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد تا با نرم‌افزارها شناخت بیشتری را برای طراحان رایانه ای علی‌الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
						</p>

						<h3>عنوان کوچک</h3>

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد.
						</p>

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد.
						</p>

<pre dir="ltr"><code>
code {
   font-size: 1.4rem;
   margin: 0 .2rem;
   padding: .2rem .6rem;
   white-space: nowrap;
   background: #F1F1F1;
   border: 1px solid #E1E1E1;	
   border-radius: 3px;
}
</code></pre>

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است.
						</p>

						<ul>
							<li>لورم ایپسوم متن ساختگی با.
								<ul>
									<li>چاپگرها و متون بلکه</li>
									<li>چاپگرها و متون بلکه</li>
									<li>چاپگرها و متون بلکه</li>
								</ul>
							</li>
							<li>لورم ایپسوم متن ساختگی با.</li>
							<li>لورم ایپسوم متن ساختگی با.</li>
						</ul>

						<p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
						</p>

						<p class="tags">
		  			     	<span>تگ ها :</span>
		  				  	<a href="#">روزنامه&nbsp;</a><a href="#">مجله&nbsp;</a><a href="#">گرافیک&nbsp;</a><a href="#">متون&nbsp;</a>
		  			   </p>

		  			   <div class="author-profile">
		  			   	<img src="images/avatars/user-05.jpg" alt="">

		  			   	<div class="about">
		  			   		<h4><a href="#">جاناتان اسمیت</a></h4>
		  			   	
		  			   		<p>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی.
		  			   		</p>

		  			   		<ul class="author-social">
		  			   			<li><a href="#">فیسبوک</a></li>
						        	<li><a href="#">توئیتر</a></li>
						        	<li><a href="#">گوگل پلاس</a></li>
						        	<li><a href="#">اینستاگرام</i></a></li>					        	
		  			   		</ul>
		  			   	</div>
		  			   </div> <!-- end author-profile -->						

					</div> <!-- end entry-primary -->		  			   

	  			   <div class="pagenav group">
		  			  
		  				<div class="next-nav">
		  					<a href="#" rel="next">
		  						<span>بعدی</span>
								  کمتر است بیشتر 
		  					</a>
		  				</div>  
						  <div class="prev-nav">
							<a href="#" rel="prev">
								<span>قبلی</span>
								نکاتی در مورد طراحی مینیمالیستی
							</a>
						</div>				   
	  				</div>

				</article>
   		

			</div> <!-- end col-twelve -->
   	</div> <!-- end row -->

		<div class="comments-wrap">
			<div id="comments" class="row">
				<div class="col-full">

               <h3>5 نظرات</h3>

               <!-- commentlist -->
               <ol class="commentlist">

                  <li class="depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="images/avatars/user-01.jpg" alt="">
                     </div>

                     <div class="comment-content">

	                     <div class="comment-info">
	                        <cite>ایتاچی یوچیها</cite>

	                        <div class="comment-meta">
	                           <time class="comment-time" datetime="2014-07-12T23:05">12 شهریور 1396 @ 23:05</time>
	                           <span class="sep">/</span><a class="reply" href="#">پاسخ</a>
	                        </div>
	                     </div>

	                     <div class="comment-text">
							<p>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی.
							</p>   
	                     </div>

	                  </div>

                  </li>

                  <li class="thread-alt depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="images/avatars/user-04.jpg" alt="">
                     </div>

                     <div class="comment-content">

	                     <div class="comment-info">
	                        <cite>جان دوئی</cite>

	                        <div class="comment-meta">
	                           <time class="comment-time" datetime="2014-07-12T24:05">12 شهریور 1396 @ 24:05</time>
	                           <span class="sep">/</span><a class="reply" href="#">پاسخ</a>
	                        </div>
	                     </div>

	                     <div class="comment-text">
	                        <p>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی.
							</p>                        
	                     </div>

	                  </div>

                     <ul class="children">

                        <li class="depth-2">

                           <div class="avatar">
                              <img width="50" height="50" class="avatar" src="images/avatars/user-03.jpg" alt="">
                           </div>

                           <div class="comment-content">

	                           <div class="comment-info">
	                              <cite>کاکاشی هاتاکه</cite>

	                              <div class="comment-meta">
	                                 <time class="comment-time" datetime="2014-07-12T25:05">12 شهریور 1396 @ 25:05</time>
	                                 <span class="sep">/</span><a class="reply" href="#">پاسخ</a>
	                              </div>
	                           </div>

	                           <div class="comment-text">
								<p>
									لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی.
								</p>   
	                           </div>

                           </div>

                           <ul class="children">

                              <li class="depth-3">

                                 <div class="avatar">
                                    <img width="50" height="50" class="avatar" src="images/avatars/user-04.jpg" alt="">
                                 </div>

                                 <div class="comment-content">

	                                 <div class="comment-info">
	                                    <cite>جان دوئی</cite>

	                                    <div class="comment-meta">
	                                       <time class="comment-time" datetime="2014-07-12T25:15">12 شهریور 1396 @ 25:15</time>
	                                       <span class="sep">/</span><a class="reply" href="#">پاسخ</a>
	                                    </div>
	                                 </div>

	                                 <div class="comment-text">
										<p>
											لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی.
										</p>   
	                                 </div>

                                 </div>

                              </li>

                           </ul>

                        </li>

                     </ul>

                  </li>

                  <li class="depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="images/avatars/user-02.jpg" alt="">
                     </div>

                     <div class="comment-content">

	                     <div class="comment-info">
	                        <cite>شیکامورا نارو</cite>

	                        <div class="comment-meta">
	                           <time class="comment-time" datetime="2014-07-12T25:15">12 شهریور 1396 @ 25:15</time>
	                           <span class="sep">/</span><a class="reply" href="#">پاسخ</a>
	                        </div>
	                     </div>

	                     <div class="comment-text">
							<p>
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی.
							</p>   
	                     </div>

                     </div>

                  </li>

               </ol> <!-- Commentlist End -->					

               <!-- respond -->
               <div class="respond">

               	<h3>پیام بگذارید</h3>

                  <form name="contactForm" id="contactForm" method="post" action="">
  					   <fieldset>

                     <div class="form-field">
  						      <input name="cName" type="text" id="cName" class="full-width" placeholder="نام" value="">
                     </div>

                     <div class="form-field">
  						      <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="ایمیل" value="">
                     </div>

                     <div class="form-field">
  						      <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="وب سایت"  value="">
                     </div>

                     <div class="message form-field">
                        <textarea name="cMessage" id="cMessage" class="full-width" placeholder="پیام..." ></textarea>
                     </div>

                     <button type="submit" class="submit button-primary">ارسال</button>

  					   </fieldset>
  				      </form> <!-- Form End -->

               </div> <!-- Respond End -->

         	</div> <!-- end col-full -->
         </div> <!-- end row comments -->
		</div> <!-- end comments-wrap -->

   </section> <!-- end content -->


   <!-- footer
   ================================================== -->
   <footer>

	<div class="footer-main">

		<div class="row">  

		   <div class="col-four tab-full mob-full footer-info">            

			 <h4>درباره سایت ما</h4>

				<p>
				 لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد.
			 </p>

		   </div> <!-- end footer-info -->

		   <div class="col-two tab-1-3 mob-1-2 site-links">

			   <h4>لینک های سایت</h4>

			   <ul>
				   <li><a href="#">درباره ما</a></li>
					 <li><a href="#">بلاگ</a></li>
					 <li><a href="#">سوالات متداول</a></li>
					 <li><a href="#">مقررات</a></li>
					 <li><a href="#">حریم خصوصی</a></li>
				 </ul>

		   </div> <!-- end site-links -->  

		   <div class="col-two tab-1-3 mob-1-2 social-links">

			   <h4>اجتماعی</h4>

			   <ul>
				   <li><a href="#">توییتر</a></li>
					 <li><a href="#">فیسبوک</a></li>
					 <li><a href="#">دریبل</a></li>
					 <li><a href="#">گوگل پلاس</a></li>
					 <li><a href="#">اینستاگرام</a></li>
				 </ul>
						  
		   </div> <!-- end social links --> 

		   <div class="col-four tab-1-3 mob-full footer-subscribe">

			   <h4>عضویت</h4>

			   <p>خود را به روز نگه دارید. مشترک شدن در خبرنامه ما.</p>

			   <div class="subscribe-form">
		   
				   <form id="mc-form" class="group" novalidate="true">

						 <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="ایمیل" required=""> 
			
						<input type="submit" name="subscribe" >
			
						<label for="mc-email" class="subscribe-message"></label>
		 
					 </form>

			   </div>	      		
						  
		   </div> <!-- end subscribe -->         

	   </div> <!-- end row -->

	</div> <!-- end footer-main -->

   <div class="footer-bottom">
	   <div class="row">

		   <div class="col-twelve">
			   <div class="copyright">
				  <span>کلیه حقوق محفوظ است</span> 
				  <span>طراحی <a href="http://www.persian-theme.com/">پرشین تم</a></span>		         	
			  </div>

			  <div id="go-top">
				 <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
			  </div>         
		   </div>

	   </div> 
   </div> <!-- end footer-bottom -->  

</footer> 

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>