<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
   <title>ابسترکت - استایل</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">  
   <link rel="stylesheet" href="css/main.css">
        

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header class="short-header">   

	<div class="gradient-block"></div>	

	<div class="row header-content">

		<div class="logo">
		  <a href="index.html">نویسنده</a>
	   </div>

		<nav id="main-nav-wrap">
			 <ul class="main-navigation sf-menu">
				 <li><a href="index.html" title="">خانه</a></li>									
				 <li class="has-children">
					 <a href="category.html" title="">دسته بندی</a>
					 <ul class="sub-menu">
					 <li><a href="category.html">وردپرس</a></li>
					 <li><a href="category.html">HTML</a></li>
					 <li><a href="category.html">عکاسی</a></li>
					 <li><a href="category.html">UI</a></li>
					 <li><a href="category.html">میکاپ</a></li>
					 <li><a href="category.html">برندسازی</a></li>
				  </ul>
				 </li>
				 <li class="has-children">
					 <a href="single-standard.html" title="">بلاگ</a>
					 <ul class="sub-menu">
					 <li><a href="single-video.html">پست ویدئو</a></li>
					 <li><a href="single-audio.html">پست صدا</a></li>
					 <li><a href="single-gallery.html">پست گالری</a></li>
					 <li><a href="single-standard.html">پست استاندارد</a></li>
				  </ul>
				 </li>
				 <li class="current"><a href="style-guide.html" title="">استایل</a></li>
				 <li><a href="about.html" title="">درباره</a></li>	
				 <li><a href="contact.html" title="">تماس</a></li>										
			 </ul>
		 </nav> <!-- end main-nav-wrap -->

		 <div class="search-wrap">
			 
			 <form role="search" method="get" class="search-form" action="#">
				 <label>
					 <span class="hide-content">جستجو برای:</span>
					 <input type="search" class="search-field" placeholder="چیزی تایپ کنید" value="" name="s" title="جستجو برای:" autocomplete="off">
				 </label>
				 <input type="submit" class="search-submit" value="جستجو">
			 </form>

			 <a href="#" id="close-search" class="close-btn">بستن</a>

		 </div> <!-- end search wrap -->	

		 <div class="triggers">
			 <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
			 <a class="menu-toggle" href="#"><span>منو</span></a>
		 </div> <!-- end triggers -->	
		
	</div>     		
	
</header> <!-- end header -->

   
   <!-- content
   ================================================== -->  
   <div id="content-wrap" class="styles">

   	<div class="row narrow add-bottom text-center">

   		<div class="col-twelve tab-full">

   			<h1>صفحه راهنمای سبک.</h1>

   			<p class="lead">
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد
			</p>   			

   		</div>

     	</div>

     	<div class="row">

     		<div class="col-six tab-full">

		     	<h3>Paragraph and Image</h3>

		      <p><a href="#"><img width="120" height="120" class="pull-left" alt="sample-image" src="images/sample-image.jpg"></a>
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد
			</p>

		  		<p>
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد
	 			</p>

	         <p>A <a href="#">لینک</a>,
	  			<abbr title="this really isn't a very good description">مخفف</abbr>,
	  			<strong>متن قوی</strong>,
	         <em>متن em</em>,
	  			<del>متن حذف شده</del>, و
	         <mark>این یک متن علامت است.</mark>
	         <code>.code</code>
	         </p>

	      </div>

	      <div class="col-six tab-full">

	         <h3>رها کردن کلاه</h3>

		      <p class="drop-cap">
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد
				</p>

			   <h3>چاپ کوچک</h3>

			   <p>یک ویجت بخرید، یکی را رایگان دریافت کنید!
				<small>(تا زمانی که ذخایر تمام می شود. پیشنهاد در اعتدال بهاری منقضی می شود. در اوهایو معتبر نیست.)</small>
				</p>

			</div>	         

		</div> <!-- end row -->

		<div class="row">

		  	<div class="col-six tab-full">

		      <h3>نقل قول ها را بکشید</h3>

		      <aside class="pull-quote">
				   <blockquote>
					   <p>این کشور بهشتی است، که در آن بخش‌هایی برشته شده است
						جملات در دهان شما پرواز می کنند حتی «اشاره‌گر مطلق» هم هیچ کنترلی در مورد نابینایان ندارد
						متون این یک زندگی تقریبا غیرمستقل است یک روز اما یک خط کوچک از متن کور به نام
						لورم ایپسوم تصمیم گرفت به دنیای دوردست گرامر برود.</p>
					</blockquote>
				</aside>

		   </div>

		   <div class="col-six tab-full">

		      <h3>بلوک نقل قول ها</h3>

		      <blockquote cite="http://where-i-got-my-info-from.com">
				   <p>Yکار ما بخش بزرگی از زندگی شما را پر خواهد کرد و تنها راه برای رضایت واقعی این است
					انجام کاری که معتقدید کار بزرگی است. و تنها راه انجام کار بزرگ این است که کاری را که انجام می دهید دوست داشته باشید.
					اگر هنوز آن را پیدا نکرده اید، به جستجو ادامه دهید. حل و فصل نکن مانند تمام مسائل قلبی، وقتی آن را پیدا کردید خواهید فهمید.
		         </p>
					<cite>
					   <a href="#">استیو جابز</a>
					</cite>
			   </blockquote>

		      <blockquote>
		         <p>طراحی خوب تا حد امکان طراحی کم است.</p>
		         <cite>دیتر رامز</cite>
		      </blockquote>

		   </div>

		</div> <!-- end row -->

		<div class="row half-bottom">

			<div class="col-six tab-full">

			   <h3>لیست های نمونه</h3>

			   <ol>
				   <li>به عنوان مثال</li>
				   <li>از یک لیست سفارشی</li>
				   <li>یک مورد از لیست والد.
					  	<ul>
				  			<li>یک</li>
				  			<li>دو</li>
					    	<li>سه</li>
					   </ul>
					</li>
					<li>یک آیتم لیست</li>
				</ol>

			   <ul class="disc">
				   <li>به عنوان مثال</li>
				   <li>از یک لیست نامرتب</li>
				</ul>	

				<h3>لیست های تعریف</h3>	            

			   <h5>الف) تعاریف چند خطی (پیش فرض)</h5>

			   <dl>
				   <dt><strong>این یک اصطلاح است</strong></dt>
				      <dd>این تعریف آن اصطلاح است که هر دو در الف زندگی می کنند <code>dl</code>.</dd>
				   <dt><strong>یک اصطلاح دیگر</strong></dt>
				      <dd>و تعریفی هم می گیرد که این خط است</dd>
				      <dd>این یک تعریف 2<sup>ام</sup> برای یک اصطلاح واحد است. یک <code>dt</code> ممکن است با چندین <code>dd</code> دنبال شود.</dd>
			   </dl>

		   </div>

		   <div class="col-six tab-full">		                  

		      <h3>سرصفحه ها</h3>

		      <h1>H1 سرفصل</h1>
		      <h2>H2 سرفصل</h2>
		      <h3>H3 سرفصل</h3>
		      <h4>H4 سرفصل</h4>
		      <h5>H5 سرفصل</h5>
		      <h6>H6 سرفصل</h6>

		      <h3>دکمه ها</h3>

		    	<p>
		     		<a class="button button-primary full-width" href="#">دکمه اصلی</a>
		     		<a class="button full-width" href="#">دکمه پیش فرض</a>
		     	</p>

		   </div>

		</div> <!-- end row -->

		<div class="row half-bottom">

		   <div class="col-twelve">

		    	<h3>زبانه های آمار</h3>

		      <ul class="stats-tabs">
				   <li><a href="#">1,234 <em>سوساکه</em></a></li>
				   <li><a href="#">567 <em>هیناتا</em></a></li>
				   <li><a href="#">23,456 <em>نارتو</em></a></li>
				   <li><a href="#">3,456 <em>کیبا</em></a></li>
				   <li><a href="#">456 <em>شیماکا</em></a></li>
				   <li><a href="#">26 <em>ساکورا</em></a></li>
				</ul>	      		

		   </div>	      	

		</div> <!-- end row -->

		<div class="row half-bottom">

	      <div class="col-six tab-full">

      		<h3>تصویر ریسپانسیو</h3>
      		<p><img src="images/shutterbug.jpg"></p>

      	</div>

      	<div class="col-six tab-full">

      		<h3>ویدئو ریسپانسیو</h3>

      		<div class="fluid-video-wrapper">
               <iframe src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
            </div>

      	</div>
	      	
      </div> <!-- end row -->

      <div class="row add-bottom">

	      <div class="col-twelve">

	      	<h3>جداول</h3>
	      	<p>هنگام ساختن <code>جدول</code> حتماً از نشانه‌گذاری جدولی که به درستی شکل گرفته است با <code>&lt;thead&gt;</code> و <code>&lt;tbody&gt;</code> استفاده کنید.</p>

	      	<div class="table-responsive">

	      		<table>
						<thead>
						   <tr>
						 		<th>نام</th>
						      <th>سن</th>
						      <th>جنسیت</th>
						      <th>آدرس</th>					    
						   </tr>
						</thead>
						<tbody>
						   <tr>
						      <td>نارتو اوکازا</td>
						      <td>16</td>
						      <td>مرد</td>
						      <td>کونوها</td>					    
						   </tr>
						   <tr>
						      <td>ساکورا هارونو</td>
						      <td>16</td>
						      <td>زن</td>
						      <td>کونوها</td>			    
						   </tr>
						</tbody>
				   </table>

	      	</div>     		

	      </div>
	      	
	   </div> <!-- end row -->

	   <div class="row">

		   <div class="col-six tab-full">

		      <h3>سبک های فرم</h3>

		      <form>
			     	<div>
			        	<label for="sampleInput">ایمیل</label>
			        	<input class="full-width" type="email" placeholder="test@mailbox.com" id="sampleInput">
			      </div>
			      <div>
			        	<label for="sampleRecipientInput">دلیل تماس</label>
			        	<div class="ss-custom-select">
			        		<select class="full-width" id="sampleRecipientInput">
				        		<option value="Option 1">سوالات</option>
				        		<option value="Option 2">گزارش</option>
				        		<option value="Option 3">دیگران</option>
				        	</select>
			        	</div>			         	
			      </div>
			       
			     	<label for="exampleMessage">پیام</label>
			     	<textarea class="full-width" placeholder="پیام..." id="exampleMessage"></textarea>

			     	<label class="add-bottom">
			        	<input type="checkbox">			            
			        	<span class="label-text">یک کپی برای خود بفرستید</span>
			     	</label>
			       
			     	<input class="button-primary full-width-on-mobile" type="submit" value="ارسال">

			   </form>	            

		   </div>

		   <div class="col-six tab-full">

		   	<h3>بلوک کد</h3>

		   	<pre dir="ltr"><code>
code {
   font-size: 1.4rem;
   margin: 0 .2rem;
   padding: .2rem .6rem;
   white-space: nowrap;
   background: #F1F1F1;
   border: 1px solid #E1E1E1;	
   border-radius: 3px;
}
</code></pre>

	         <h3>جعبه های هشدار</h3> 
			        
            <div class="alert-box ss-error hideit">
		        <p>پیغام خطا. پیام شما اینجا می رود.</p>
		        <i class="fa fa-times close"></i>
		      </div><!-- /error -->
			        
		      <div class="alert-box ss-success hideit">
				<p>پیغام موفق. پیام شما اینجا می رود.</p>
		        <i class="fa fa-times close"></i>
		      </div><!-- /success -->
			        
		      <div class="alert-box ss-info hideit">
		        <p>پیغام اطلاعات. پیام شما اینجا می رود.</p>
		         <i class="fa fa-times close"></i>
		      </div><!-- /info -->
			        
		      <div class="alert-box ss-notice hideit">
				<p>پیغام نوتیف. پیام شما اینجا می رود.</p>
		        <i class="fa fa-times close"></i>
		      </div><!-- /notice -->
		        
		   </div>	         

		</div> <!-- end row -->

   </div> <!-- end styles -->

   
   <!-- footer
   ================================================== -->
   <footer>

	<div class="footer-main">

		<div class="row">  

		   <div class="col-four tab-full mob-full footer-info">            

			 <h4>درباره سایت ما</h4>

				<p>
				 لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد.
			 </p>

		   </div> <!-- end footer-info -->

		   <div class="col-two tab-1-3 mob-1-2 site-links">

			   <h4>لینک های سایت</h4>

			   <ul>
				   <li><a href="#">درباره ما</a></li>
					 <li><a href="#">بلاگ</a></li>
					 <li><a href="#">سوالات متداول</a></li>
					 <li><a href="#">مقررات</a></li>
					 <li><a href="#">حریم خصوصی</a></li>
				 </ul>

		   </div> <!-- end site-links -->  

		   <div class="col-two tab-1-3 mob-1-2 social-links">

			   <h4>اجتماعی</h4>

			   <ul>
				   <li><a href="#">توییتر</a></li>
					 <li><a href="#">فیسبوک</a></li>
					 <li><a href="#">دریبل</a></li>
					 <li><a href="#">گوگل پلاس</a></li>
					 <li><a href="#">اینستاگرام</a></li>
				 </ul>
						  
		   </div> <!-- end social links --> 

		   <div class="col-four tab-1-3 mob-full footer-subscribe">

			   <h4>عضویت</h4>

			   <p>خود را به روز نگه دارید. مشترک شدن در خبرنامه ما.</p>

			   <div class="subscribe-form">
		   
				   <form id="mc-form" class="group" novalidate="true">

						 <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="ایمیل" required=""> 
			
						<input type="submit" name="subscribe" >
			
						<label for="mc-email" class="subscribe-message"></label>
		 
					 </form>

			   </div>	      		
						  
		   </div> <!-- end subscribe -->         

	   </div> <!-- end row -->

	</div> <!-- end footer-main -->

   <div class="footer-bottom">
	   <div class="row">

		   <div class="col-twelve">
			   <div class="copyright">
				  <span>کلیه حقوق محفوظ است</span> 
				  <span>طراحی <a href="http://www.persian-theme.com/">پرشین تم</a></span>		         	
			  </div>

			  <div id="go-top">
				 <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
			  </div>         
		   </div>

	   </div> 
   </div> <!-- end footer-bottom -->  

</footer> 

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>